{
  "presets": [
    "@babel/preset-env",
    // "es2015",
    // "react",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components"
    // "react-refresh/babel"
  ]
}