body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* float: left; */
}

h1 {
  color: rgb(31, 31, 31);
  float: left;
  padding-bottom: -3em;
  margin-top: 0em;
  font-size: xxx-large;

}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1C1C1C;
  color: #fff;
}

.header-left img {
  height: 3em;
}

.header-right {
  display: flex;
  align-items: center;
  height: 4em;
  margin-right: 2em
}

.header-right .fa-shopping-cart {
  font-size: 18px;
  margin-left: 10px;
}

.margins-nonOverview {
  margin-left: 15%;
  margin-right: 15%;
  /* margin-left: 15rem;
  margin-right: 15rem; */
}


/* OVERVIEW MODULE */

.overviewContainer {
  margin-top: 5em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.4em;
  grid-row-gap: 0.4em;
}

.productInfo {
  grid-area: 1 / 6 / 3 / 8;
  margin-top: .6em
}

.styleSelector {
  grid-area: 3 / 6 / 5 / 8;
}

.addToCart {
  grid-area: 5 / 6 / 7 / 8;
}

.imageGallery {
  grid-area: 1 / 2 / 7 / 6;
}

.styleSelector {
  margin-top: -1.5em;
  /* margin-bottom: 2em; */

}

.styleGroup {
  position: relative;
  margin: 0em 5em 5em 0em;

}

.styleContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .3em;
  grid-row-gap: .3em;
  margin-bottom: 5em;

}

.stylePreview {
  position: absolute;
  border-radius: 2.3em;
  width: 4em;
  height: 4em;
  border-color: black;
  border-width: .1em;
  border-style: solid;
}

.selected {
  position: absolute;
  top: -0.2em;
  right: -4em;
  background: white;
  /* height: 48px;
  width: 45px; */
  border-color: black;
  border-width: .1em;
  border-style: solid;
  z-index: 50;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  float: center;

}

.strikeThrough {
  color: red;
  text-decoration: line-through;
}

.addToCart {
  margin-top: -3em;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-button {
  background-color: white;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  height: 4em;
  display: inline-block;
  position: relative;
  width: 16em;
  font-weight: bold;
  margin-top: 1.5em;
  text-align: left;
  padding-left: 2em;
}

.caret {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  font-size: 0.7em;
  color:#000;
}

.plus {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  font-size: 0.7em;
  color:#000;
  transition: all 190ms;
}
.plus:hover {
  transform: translateY(-50%) rotate(270deg) scale(1.2);
}



.dropdown-button:hover {
  background-color: #f7fafa;
  cursor: pointer;

}

.dropdown-button:active {
  border-color: #677071;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


#quantity {
  width: 7em;
  margin-left: 1.5em;
}

#checkout {
  width: 24.5em;
}

#hearted {
  width: 5em;
  margin-left: 1.5em;
  margin-bottom: -2.5em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: .3em 1em;
  text-decoration: none;
  margin-block-start: .3em;
  margin-block-end: .3em;
  /* display: block; */
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdownExpanded {
  display: block;
}

#primary-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: flex;
  /* or inline-flex */
  /* min-width: 30em; */
  position: relative;
  border: 1px solid rgb(5, 5, 5);
  float: center;
}

.maxDimensions {
  max-width: 53em;
  max-height: 40em;
}

/* Description MODULE */

.rowDesc {
  display: grid;
  grid-template-columns: 5fr 2.2fr;
  margin-top: 3%;
  margin-bottom: 5%;
}

.first-columnDesc {
  width: 90%;
  float: left;
}


.second-columnDesc {
  width: 100%;
  padding: 0 10px 0 20px;
  float: left;
}

.rowDesc:after {
  content: "";
  display: table;
  clear: both;
}

.rowDesc2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.columnCheck {
  width: 100%;
  float: left;
  text-align: left;
  font-weight: bold;
}

.columnFeature {
  width: 100%;
  float: left;
  text-align: left;
}

.rowDesc2:after {
  content: "";
  display: table;
  clear: both;
}

.lineAnchor{
  position: relative

}

.verticalLine:after {
  position: absolute;
  top: 14%;
  left: 68%;
  width: .125em;
  height: 78%;
  border-radius: .125em;
  background:rgb(46, 46, 46);
  content: ''
}

@media only screen and (max-width: 640px) {

    .first-columnDesc {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-columnDesc {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .verticalLine:after {
      position: absolute;
      background:rgb(46, 46, 46);
      content: '';
      opacity: 0;
    }

  }

/* Popup style */

.popup-box {
  position: fixed;
  background: #00000050;
  /* width: 100%;
  height: 100vh;
  top: 0;
  left: 0; */
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
}


.form-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  z-index: 91;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  z-index: 100;

}

/* RELATED PRODUCTS AND YOUR OUTFIT MODULE */

.productCard {
  position: relative;
  width: 15em;
  height: 23em;
  margin: 0;
  max-height: 70vh;
  margin-top: 1em;
  margin-bottom: 0.2em;
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  overflow: hidden;
  cursor: pointer;
  transition: all 50ms;
}

/* .productCard:active {
  border-color: #677071;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
  opacity: 0.8;
} */

.productImageInCard {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.sidescroller {
  position: relative;
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /* scroll-snap-type: inline mandatory; */
}

/*
.sidescroller > * {
  scroll-snap-align: start;
} */

.sidescroller::-webkit-scrollbar {
  display: none;
}

.compareLeftName {
  width: 50%;
  float: left;
  text-align: left;
  font-weight: bold;
}

.compareRightName {
  width: 50%;
  float: left;
  text-align: right;
  font-weight: bold;

}

.compareLeft {
  width: 25%;
  float: left;
  text-align: left;
}

.compareMiddleColumn {
  width: 50%;
  float: left;
  text-align: center;
}

.boldFont {
  font-weight: bold;
}

.compareRight {
  width: 25%;
  float: left;
  text-align: right;
}

.lineSpaceCard {
  margin-bottom: 3px;
  margin-top: 5px;
  margin-left: 8px;
  color: rgb(44, 44, 44);
}

.addToOutfitButton {
  text-align: center;
  vertical-align: middle;
}

.addToOutfitText {
  font-style: italic;
  margin-top: 140px;
}

.button-add-to-outfit {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #4a4e4e;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-add-to-outfit:hover {
  background-color: #f7fafa;
}

.button-add-to-outfit:active {
  border-color: #677071;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.close-icon-yourOutfit {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #717171;
  opacity: 0.75;
  transition: all 150ms;
}

.x-icon:before {
  position: absolute;
  top: 15%;
  left: calc(50% - .0625em);
  width: .125em;
  height: 70%;
  border-radius: .125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: ''
}

.x-icon:after {
  position: absolute;
  top: 15%;
  left: calc(50% - .0625em);
  width: .125em;
  height: 70%;
  border-radius: .125em;
  transform: rotate(-45deg);
  background: currentcolor;
  content: ''
}

.close-icon-yourOutfit:hover {
  transform: rotate(90deg) scale(1.2);
  background-color: rgb(241, 241, 241);
  opacity: 0.9;
}

#star-button-compare {
  color: #fff;
  position: absolute;
  font-size: 20px;
  top: 6px;
  right: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: zoom-in;
  transition: all 190ms;
  -webkit-text-stroke: 1.5px rgb(92, 92, 92);
  -webkit-text-fill-color: white;
  opacity: 0.65;
  text-shadow: rgb(243, 243, 243) 0px 0px 5px;
}

#star-button-compare:hover {
  transform: rotate(216deg) scale(1.2);
  opacity: 0.9;
}

/* Caroursel Side Scroll Buttons */

.leftScrollButtonPosition {
  position: -webkit-sticky;
  position: sticky;
  top: 240px;
  left: 15px;
  z-index: 90;
}

.leftScrollButton {
  cursor: pointer;
  position: absolute;
  top: 140px;
  left: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #717171;
  opacity: 0.75;
  z-index: 99;
  transition: all 150ms;
}

.left-icon:before {
  position: absolute;
  top: 11%;
  left: 40%;
  width: .125em;
  height: 50%;
  border-radius: .125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: ''
}

.left-icon:after {
  position: absolute;
  bottom: 11%;
  left: 40%;
  width: .125em;
  height: 50%;
  border-radius: .125em;
  transform: rotate(-45deg);
  background: currentcolor;
  content: ''
}

.rightScrollButtonPosition {
  position: -webkit-sticky;
  position: sticky;
  top: 240px;
  right: 15px;
  z-index: 85;
}

.rightScrollButton {
  cursor: pointer;
  position: absolute;
  top: 140px;
  right: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #717171;
  opacity: 0.75;
  z-index: 70;
  /* transition: all 150ms; */
}

.right-icon:before {
  position: absolute;
  bottom: 11%;
  right: 40%;
  width: .125em;
  height: 50%;
  border-radius: .125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: ''
}

.right-icon:after {
  position: absolute;
  top: 11%;
  right: 40%;
  width: .125em;
  height: 50%;
  border-radius: .125em;
  transform: rotate(-45deg);
  background: currentcolor;
  content: ''
}

.leftScrollButton:hover,
.rightScrollButton:hover {
  transform: scale(1.1);
  background-color: rgb(241, 241, 241);
  opacity: 0.9;
}

/* REVIEW MODULE */
.review-module {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.rating-breakdown {
  display: flex;
  flex-direction: row;
}

.reviewList-title, .review-list {
  margin-left: 2em;
}

.review-button-group {
  margin-left: 2em;
}

.review-list {
  margin-top: 3em;
  height: 31em;
  width: 30em;
  overflow-y: auto;
}

.average-number {
  font-size: 3em;
  margin-right: .25em;
}

.number-of-stars {
  margin-bottom: 1.25em;
}

.review-tile {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid;
  border-width: .05em;
  margin-bottom: 1em;
}

/* .review-name-date {
  order: 2;
} */

.reviewList-sort-button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: .25em;
  border-bottom: solid;
  width: auto;
  font-size: inherit;
  font-weight: inherit;
}

.add-review-button, .more-reviews-button {
  text-transform: uppercase;
  background-color: white;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  height: 4em;
  width: 12em;
  font-weight: bold;
}


.add-review-button {
  margin-left: .5em;
}


.more-reviews-button {
  margin-right: .5em;
}

.average-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-bars p {
  font-size: .75em;
}

.characteristic-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.char-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.char-title {
  margin-bottom: .25em;
  font-size: .75em;
  font-weight: bold;
}

.hiLo {
  display: flex;
  justify-content: space-between;
}

.hiLo p {
  margin-top: 0;
  font-size: .75em;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.arrow {
  position: relative;
  bottom: .25em;
}

#star-rating {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating,
.rating-text {
  display: inline-block;
  margin-bottom: 1.5em;
}

.rating-text {
  margin-left: .5em;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}



/*  Question Search Bar*/

.search-bar {
  border-radius: 1px;
  background: rgb(255, 255, 255);
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%;
}

.search-bar .btn {
  border-radius: 2px;
  width: 20%;
  margin-left: -1px;
}

/* Answer Button */

.answer-btn {
  margin-right: 1%;
}

/* Adding Answer Button */

.add-answer-btn:hover {
  color:rgb(131, 38, 171)
}

/* .size-radio-buttons {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
.review-image-thumbnails {
  width: 3em;
  margin-top: .5em;
  margin-bottom: 1em;
  margin-left: .25em;
  margin-right: .25em;
}

*/

